<div class="right_col" role="main" style="min-height: 4540px;">
  <div class="page-title">
    <div class="title_left">
      <h3>Users <small>User List</small></h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold">All users</h6>
        </div>
        <div class="card-body">
          <h3>
            All users</h3>
          <table style="width: 100%;">
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Messages</th>
              <th>Picture</th>
            </tr>
            <tr>
              <td>Ajay</td>
              <td>jkjkskj</td>
              <td>Messdfvgages</td>
              <td>Pictfvfdvure</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>