<div id="div2">
    <h3 style="margin-left: 800px; " >Admin</h3>
</div>
<div id="div1">
   
    <table style="margin-left: 190px;">
      <tr>
        <th style="width: 30%; background: #ddd;" align="left"><font color="black" >First Name</font></th>
        <td style="width: 30%;">{{admindata.name}}</td>
      </tr>
      <tr>
        <th style="width: 30%; background: #ddd;"> <font color="black">Last Name</font></th>
        <td style="width: 30%;">{{admindata.surname}}</td>
      </tr>
      <tr>
        <th style="width: 30%; background: #ddd;"><font color="black">Email</font></th>
        <td style="width: 30%; ">{{admindata.email}}</td>
      </tr>
      <tr>
        <th style="width: 30%; background: #ddd;"><font color="black">Location</font></th>
        <td style="width: 30%;">{{admindata.location}}</td>
      </tr>
      <tr>
        <th style="width: 30%; background: #ddd;"><font color="black">Subject </font></th>
        <td style="width: 30%;">{{admindata.subjects}}</td>
      </tr>
    
    </table>
</div>
