<div id="login">
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center myform">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <img src="/assets/image/images.png" alt="">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label for="email" class="text-info">Email:</label><br>
                            <input type="email" formControlName="email" id="email" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && loginForm.controls.email.errors }">
                            <div *ngIf="loginForm.controls.email.invalid && (loginForm.controls.email.dirty || loginForm.controls.email.touched)"
                                class="invalid-feedback" style="display: block;">
                                <div *ngIf="loginForm.controls.email.errors.email">Enter a valid email address</div>
                                <div *ngIf="loginForm.controls.email.errors.required">Email field is required!</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="password" formControlName="password" id="password" class="form-control"
                                [ngClass]="loginForm.controls.password">
                            <div *ngIf="loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched)"
                                class="invalid-feedback" style="display: block;">
                                <div *ngIf="loginForm.controls.password.errors.required">
                                    Password is required.
                                </div>
                            </div>
                        </div>

                        <div style="float: left;">
                        </div>
                        <div id="register-link" class="text-right">
                        </div>
                        <div class="submit">
                            <a><input type="submit" name="submit" class="btn btn-info btn-md" value="submit"></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>