<div id="login">

    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center myform">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <!-- <img src="/assets/image/logo.jpg" alt="" > -->
                    <form [formGroup]="changePasswordForm">
                        <h3 class="text-center text-info">Change your password</h3>
                        <div>
                            <label for="password" class="text-info">Password:</label><br>
                            <input formControlName="oldPassword" type="password" id="password" class="form-control"
                                [ngClass]="changePasswordForm.controls.oldPassword">
                            <div class="invalid-feedback" style="display: block;">
                                <div>
                                    Password is required.
                                </div>
                            </div>
                        </div>

                        <div>
                            <label for="password" class="text-info">Confirm Password:</label><br>
                            <input formControlName="resetPassword" type="password" id="password" class="form-control"
                                [ngClass]="changePasswordForm.controls.resetPassword">
                            <div class="invalid-feedback" style="display: block;">
                                <div>
                                    Confirm password is required.
                                </div>
                            </div>
                        </div>

                        <div style="float: left;">
                            <label for="remember-me" class="text-info"><span>Remember me</span> <span><input
                                        id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                        </div>
                        <div id="register-link" class="text-right">
                            <a routerLink="/emailsend" class="text-info">Forgot Password</a>
                        </div>
                        <div class="submit">
                            <input type="submit" (click)="onSubmit()" name="submit" class="btn btn-info btn-md"
                                value="submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>