.container {
    background: aquamarine;
    height: 525px;
}

.form-control {
    width: 50%;
}

.inputtext {
    width: 40%;
    padding: 8px 10px;
    margin: 16px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 30px;
    box-sizing: border-box;
    margin-left: 3%;
}

.labelmargin {
    margin-left: 26%;
    width: 134px;
}

.inputcss:focus {
    background-color: lightblue;
}

body {
    background: aquamarine;
}