<div class="col-md-3 left_col">
	<div class="left_col scroll-view">
		<div class="navbar nav_title" style="border: 0;">
			<a href="index.html" class="site_title"><i class="fa fa-paw"></i>
				<span>Simon Admin Panel</span>
			</a>
		</div>
		<div class="clearfix"></div>

		<div class="profile clearfix">
			<div class="profile_pic">
				<img src="/assets/image/profile.jpg" class="img-circle profile_img">
			</div>
			<div class="profile_info">
				<span>Welcome,</span>
				<h2>Admin</h2>
			</div>
		</div>

		<br>

		<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
			<div class="menu_section active">
				<h3>General</h3>
				<ul class="nav side-menu">
					<li>
						<a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard <span
								class="fa fa-chevron-down"></span></a>
					</li>
					<!-- <li>
						<a href="/users"><i class="fa fa-dashboard"></i> Tutors <span class="fa fa-chevron-down"></span></a>
					</li> -->
					<li>
						<a href="/managers"><i class="fa fa-dashboard"></i> Tutor Managers <span
								class="fa fa-chevron-down"></span></a>
					</li>
					<li>
						<a href="/subject"><i class="fa fa-dashboard"></i> Subjects <span
								class="fa fa-chevron-down"></span></a>
					</li>
					<li>
						<a href="/location"><i class="fa fa-dashboard"></i> Locations <span
								class="fa fa-chevron-down"></span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>