<div class="right_col" role="main" style="min-height: 755px;">
  <div class="page-title">
    <div class="title_left">
      <h3>Managers List</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold">New Manager Register</h6>
        </div>
        <div class="card-body">
          <table datatable [dtOptions]="dtOptions" class="table table-bordered row-border hover" width="100%"
            cellspacing="0" id="user-table">
            <thead>
              <tr>
                <th style="display: none;"></th>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody *ngIf="rows?.length != 0">
              <tr *ngFor="let user of rows">
                <td style="display: none;"></td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td><span class="flex_wrp flex_strt drec_colomn">
                    <button class="btn btn-success" style="margin-left: 5px; height:50px; width:60px;"
                      (click)="changeTutorStatus(user._id)"> &#10003;</button>
                    <button class="btn btn-danger" style="margin-left: 5px; height:50px; width:60px;"
                      (click)="deleteTutorStatus(user._id)"> &#10006;</button>
                  </span>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="rows?.length == 0">
              <tr>
                <td colspan="3" class="no-data-available">No data available in table!</td>
              </tr>
            <tbody>
          </table>
        </div>
      </div>
    </div>
  </div>